<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>日報管理ツール</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<script src="UserData.js" charset="UTF-8"></script>

<script>
	angular.module('myApp', []).controller('MyController', ['$scope', function($scope) {
		$scope.data = UserData;
	}]);
</script>

<style type="text/css">
body {
  background: linear-gradient(-45deg, rgba(188, 221, 255, .9), rgba(249, 255, 252, .9)),  url(images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
</style>

</head>
<body ng-controller="MyController" style="padding-top: 70px; padding-bottom: 70px;">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample8">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				日報管理ツール
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample8">
			<ul class="nav navbar-nav">
				<li><a href="#">ユーザー</a></li>
				<li class="active"><a href="#">レポート</a></li>
				<li><a href="#">試験</a></li>
				<li><a href="#">ファイル共有</a></li>
			</ul>
			<p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
		</div>
	</div>
</nav>

	<div class="container center-block">
	    <div class="col-md-12">
			<h1>レポート一覧</h1>
		</div>

	    <div class="col-md-10">
			<table class="table">
				<thead class="scrollHead">
					<tr>
						<th>名前</th>
						<th>コース名</th>
						<th>企業名</th>
						<th>会場</th>
						<th>レポート</th>
					</tr>
				</thead>

			  <tbody class="scrollBody">
			    <tr ng-repeat="item in data">
			      <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{item.lastname}} {{item.firstname}}</td>
			      <td>{{item.courseName}}</td>
			      <td>{{item.company}}</td>
			      <td>{{item.place}}</td>
			      <td>

<div class="btn-group">
	<button type="button" class="btn btn-default">
		2016年06月30日(木) <span class="badge">未読</span>
	</button>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">2016年06月29日(水)</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">2016年06月28日(火)</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">2016年06月27日(月)</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">2016年06月24日(金)</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">2016年06月23日(木)</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">2016年06月22日(水)</a></li>
	</ul>
</div>
			      </td>
			    </tr>
			  </tbody>
			</table>
	    </div>
	</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarEexample9">
			<ul class="nav navbar-nav">
				<li><a href="#">戻る</a></li>
			</ul>
		</div>
	</div>
</nav>

</body>
</html>