<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>日報管理ツール</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<script src="ScheduleData.js" charset="UTF-8"></script>

<script>
	angular.module('myApp', []).controller('MyController', ['$scope', function($scope) {
		$scope.data = ScheduleData;
	}]);
</script>

<style type="text/css">
body {
  background: linear-gradient(-45deg, rgba(188, 221, 255, .9), rgba(249, 255, 252, .9)),  url(images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
</style>

</head>
<body ng-controller="MyController" style="padding-top: 70px; padding-bottom: 70px;">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample8">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				日報管理ツール
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample8">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">マイページ</a></li>
				<li><a href="#">ユーザー</a></li>
				<li><a href="#">ファイル共有</a></li>
			</ul>
			<p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
		</div>
	</div>
</nav>

<!-- タブ・メニュー -->
<ul class="nav nav-tabs  nav-justified">
	<li class="active"><a href="#sampleContentA" data-toggle="tab">レポート一覧</a></li>
	<li><a href="#sampleContentB" data-toggle="tab">試験</a></li>
</ul>

<!-- タブ内容 -->
<div class="tab-content">
	<div class="tab-pane active" id="sampleContentA">

	<div class="container center-block">
	    <div class="col-md-12">
			<h1>レポート一覧</h1>
		</div>

	    <div class="col-md-10">
			<table class="table table-condensed">
				<thead class="scrollHead">
					<tr>
						<th>日付</th>
						<th>内容</th>
						<th>レポート</th>
						<th></th>
					</tr>
				</thead>

			  <tbody class="scrollBody">
			    <tr ng-repeat="item in data">
			      <td>{{item.date}}</td>
			      <td>{{item.content}}</td>
			      <td>
				      <button class="btn btn-default">Todo</button>
				      <button class="btn btn-default">日報 <span class="badge">未読</span></button>
				  </td>
			      <td>
				      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>10
				      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>5
				      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>2
			      </td>
			    </tr>
			  </tbody>
			</table>
	    </div>
	</div>


	</div>
	<div class="tab-pane" id="sampleContentB">
		<p>タブＢの内容</p>
	</div>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarEexample9">
			<ul class="nav navbar-nav">
				<li><a href="#">戻る</a></li>
			</ul>
		</div>
	</div>
</nav>

</body>
</html>