<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<script src="CommentData.js" charset="UTF-8"></script>

<script>
	angular.module('myApp', []).controller('MyController', ['$scope', function($scope) {
		$scope.data = CommentData;
	}]);
</script>

</head>
<body ng-controller="MyController" style="padding-top: 70px; padding-bottom: 70px;">
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample8">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				日報管理ツール
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample8">
			<ul class="nav navbar-nav">
				<li><a href="#">ユーザー</a></li>
				<li class="active"><a href="#">レポート</a></li>
				<li><a href="#">試験</a></li>
				<li><a href="#">ファイル共有</a></li>
			</ul>
			<p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
		</div>
	</div>
</nav>



	<div class="container center-block">
	    <div class="col-md-10">
			<h3>報告レポート</h3>
			<table class="table" ng-repeat="item in data">
				<tr>
					<th style="width: 30%">{{item.itemName}}</th>
					<td style="width: 70%">{{item.message}}</td>
				</tr>
			</table>
		</div>
	</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarEexample9">
			<ul class="nav navbar-nav">
				<li><a href="#">戻る</a></li>
			</ul>
		</div>
	</div>
</nav>


</body>
</html>